<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <button onclick="saveReq()">글작성</button> <!--클릭할 경우 saveReq 호출
    <a href="/board/save">글작성(링크)</a> 이것과 같은 동작. 이 경우는 링크버튼-->
    <button onclick="listReq()">글목록</button>
    <button onclick="pagingReq()">페이징목록</button>

    <a href="/member/save">회원가입</a>
    <a href="/member/login">로그인</a>
    <a href="/member/">회원목록</a>
</body>
<script>

    const saveReq = () => {
        location.href = "/board/save"
    }

    const listReq = () => {
        location.href = "/board/"
    }

    const pagingReq = () => {
        location.href = "/board/paging";
    }
</script>
</html>